html, body {
    height: 95%;
}
#primary-var-wrapper {
    width: 100%;
    height: 5%;
    text-align: center;
}
#all-vis-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}
.vis-wrapper {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.vis {
    width: 100%;
    height: 100%;
}
.dropdown {
    margin: 10px;
}
.col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}