#layout-sect-1 {
    display: flex;
    flex-direction: row;
    height: 70%;
}

#main-vis {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 60px;
}

#main-vis-wrapper {
    width: 100%;
    height: 100%;
}

#var-select {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#var-select-header {
    font-weight: bolder;
    margin: 20px;
}